body {
    font-size: 16px;
    font-family: Calibri;
}

.container-login {
    max-width: 500px;
    border: 2px solid orangered;
    border-radius: 20px;
    height: 200px;

}

.form-group {
    padding: 10px;
    
}
input {
    width: 300px;
    height: 30px;
    border-radius: 10px;

}

#btn-submit {
    margin-left: 100px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    background-color: skyblue;
    
}

#btn-submit:hover {
    background-color: wheat;
}

.error {
    color: #d9534f; /* Red color to indicate error */
    background-color: #f9d6d5; /* Light red background for visibility */
    border: 1px solid #d9534f; /* Border matching the text color */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
